<section>
	<h3 class="f2 db tc center">{{ .title | safeHTML }}</h3>
	{{ if .subtitle }}
		<b class="f3 db tc center">{{ .subtitle | safeHTML }}</b>
	{{ end }}
	<div class="flex-ns flex-wrap justify-around mt4 relative w-100">
		{{ range .items }}
		<div class="tc center">
			<img src={{ .image }} alt="" style="max-width: 450px;" />
			<h3 class="f3">{{ .title }}</h3>
			<p style="max-width: 450px;">{{ .text }}</p>
			{{ if .contact }}
				<div class="f4">
					<a href="mailto:{{ .Site.Params.mail }}?subject={{ .contact }}" class="link db pt2 pb1 ph2 br3 mt3 mb3 white grow w5 center" style="background-color:#00237c">{{ i18n "contactButton" . }}</a>
				</div>
			{{ end }}
		</div>
		{{ end }}
	</div>
</section>
