<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex flex-wrap justify-between">
    <div><a class="f4 fw4 hover-white no-underline white-70 pv2 ph2" href="{{ .Site.Home.Permalink }}" >
      &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
    </a></div>
    <div><a class="f4 fw4 hover-white no-underline white-70 pv2 ph2" href="{{ .Site.Params.privacypolicy }}" >
      Privacy Policy
    </a></div>
    <div><a class="f4 fw4 hover-white no-underline white-70 pv2 ph2" href="{{ .Site.Params.impressum }}" >
      Impress
    </a></div>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
