.items {
  display: inline-block;
  margin: 2rem;
  padding: .1rem;
}

.items h3 {
  color: #222;
  margin: 10px 0;
  font-size: 1.4rem;
}

.items p {
  color: #444;
}

.items b {
  color: #333;
}

.spotlight-text {
  padding-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
}

.spotlight-image {
  padding: 3.5rem;
}

.image-right {

}
